:root {
    --ff-primary:  'Nunito Sans', sans-serif;
    --ff-secondary: 'Montserrat', sans-serif;
    
    --fw-reg: 500;
    --fw-bold: 700;
    
    --clr-back: #121212;
    --clr-back-overlay: #2D2D2D;
    --clr-primary: #BB86FC;
    --clr-secondary: #03DAC5;
    --clr-secondary-opacity: rgba(3, 218, 197, 0.7);
    --clr-on-back: #fff;
    --clr-on-prim: #000000;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --fs-little: 0.85rem;
    
}



body,
html {
    background-color: var(--clr-back);
    font-family: var(--ff-primary);
    font-weight: var(--fw-reg);
    color: var(--clr-on-back);
    font-size: 1.15rem;
    line-height: 1.5em;
}

a,
a:hover {
    color: var(--clr-secondary);
    text-decoration: none;
}

.blog__post--title {
    margin-top: 1.5em;
    padding-bottom: 0.5em;
    font-family: var(--ff-secondary);
    font-size: var(--fs-h2);
}

.blog__post--body {
    margin: 1em 0;
}



.blog__base--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    border: 4px solid yellow;
}


/* BLOG LAYOUT */

.blog__wrapper {
    display: grid;
    min-width: 95%;
    /* height: 100vh; */
    grid-template-columns: 15% 70% 15%;
    gap: 0;
    justify-content: stretch;
    justify-items: stretch;
    align-content: start;
    align-items: center;
    grid-template-areas: 
    "header header header"
    "body body body"
    "footer footer footer";
    /* border: 4px solid yellow; */
}

.blog__header {
    grid-area: header;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 2em;
    /* border: 4px solid brown; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;

    margin: 0 auto;
}

.blog__body {
    grid-area: body;
    /* border: 4px solid pink; */
}

.blog__footer {
    grid-area: footer;
    margin-top: 2em;
    /* border: 4px solid indigo; */
}


/* POST DETAIL */

.blog__detail--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    /* border: 4px solid red; */
    margin: 0 auto;
    padding: 0 1em;
}

.blog__detail--section {
    text-align: center;
    /* margin-top: 2em; */
    /* border: 4px solid #fff; */
}

.blog__detail--body {
    margin-top: 2em;
    /* border: 4px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.blog__detail--title {
    font-family: var(--ff-secondary);
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
    margin: 0;
    padding-bottom: 0.25em;
}

h2 {
    font-family: var(--ff-secondary);
}